# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.env
venv/
.venv/

# Temp files
.tmp/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Flask
instance/
*.db

cookies_base64.txt
cookies.txt
paste_into_render.txt
www.*.com_cookies.txt
